/*
@fa-font-path: "../fonts/fontawesome/fonts";
@assets-path: "../assets";
@et-font-path: "../fonts/et-line-font";

*/
html .woocommerce ul.products.woocolumns-1 li.product,
html .woocommerce-page ul.products.woocolumns-1 li.product,
html .woocommerce .related ul.products.woocolumns-1 li.product,
html .woocommerce-page .related ul.products.woocolumns-1 li.product,
html .woocommerce .upsells ul.products.woocolumns-1 li.product,
html .woocommerce-page .upsells ul.products.woocolumns-1 li.product {
  width: 100%;
}
html .woocommerce ul.products.woocolumns-2 li.product,
html .woocommerce-page ul.products.woocolumns-2 li.product,
html .woocommerce .related ul.products.woocolumns-2 li.product,
html .woocommerce-page .related ul.products.woocolumns-2 li.product,
html .woocommerce .upsells ul.products.woocolumns-2 li.product,
html .woocommerce-page .upsells ul.products.woocolumns-2 li.product {
  width: 50%;
}
html .woocommerce ul.products.woocolumns-3 li.product,
html .woocommerce-page ul.products.woocolumns-3 li.product,
html .woocommerce .related ul.products.woocolumns-3 li.product,
html .woocommerce-page .related ul.products.woocolumns-3 li.product,
html .woocommerce .upsells ul.products.woocolumns-3 li.product,
html .woocommerce-page .upsells ul.products.woocolumns-3 li.product {
  width: 33.33%;
}
html .woocommerce ul.products.woocolumns-4 li.product,
html .woocommerce-page ul.products.woocolumns-4 li.product,
html .woocommerce .related ul.products.woocolumns-4 li.product,
html .woocommerce-page .related ul.products.woocolumns-4 li.product,
html .woocommerce .upsells ul.products.woocolumns-4 li.product,
html .woocommerce-page .upsells ul.products.woocolumns-4 li.product {
  width: 25%;
}
html .woocommerce ul.products.woocolumns-5 li.product,
html .woocommerce-page ul.products.woocolumns-5 li.product,
html .woocommerce .related ul.products.woocolumns-5 li.product,
html .woocommerce-page .related ul.products.woocolumns-5 li.product,
html .woocommerce .upsells ul.products.woocolumns-5 li.product,
html .woocommerce-page .upsells ul.products.woocolumns-5 li.product {
  width: 20%;
}
html .woocommerce ul.products.woocolumns-6 li.product,
html .woocommerce-page ul.products.woocolumns-6 li.product,
html .woocommerce .related ul.products.woocolumns-6 li.product,
html .woocommerce-page .related ul.products.woocolumns-6 li.product,
html .woocommerce .upsells ul.products.woocolumns-6 li.product,
html .woocommerce-page .upsells ul.products.woocolumns-6 li.product {
  width: 16.66%;
}
html .woocommerce ul.products.woocolumns-1 li.product,
html .woocommerce-page ul.products.woocolumns-1 li.product,
html .woocommerce .related ul.products.woocolumns-1 li.product,
html .woocommerce-page .related ul.products.woocolumns-1 li.product,
html .woocommerce .upsells ul.products.woocolumns-1 li.product,
html .woocommerce-page .upsells ul.products.woocolumns-1 li.product {
  width: 100%;
}
html .woocommerce ul.products.woocolumns-2 li.product,
html .woocommerce-page ul.products.woocolumns-2 li.product,
html .woocommerce .related ul.products.woocolumns-2 li.product,
html .woocommerce-page .related ul.products.woocolumns-2 li.product,
html .woocommerce .upsells ul.products.woocolumns-2 li.product,
html .woocommerce-page .upsells ul.products.woocolumns-2 li.product {
  width: 50%;
}
html .woocommerce ul.products.woocolumns-3 li.product,
html .woocommerce-page ul.products.woocolumns-3 li.product,
html .woocommerce .related ul.products.woocolumns-3 li.product,
html .woocommerce-page .related ul.products.woocolumns-3 li.product,
html .woocommerce .upsells ul.products.woocolumns-3 li.product,
html .woocommerce-page .upsells ul.products.woocolumns-3 li.product {
  width: 33.33%;
}
html .woocommerce ul.products.woocolumns-4 li.product,
html .woocommerce-page ul.products.woocolumns-4 li.product,
html .woocommerce .related ul.products.woocolumns-4 li.product,
html .woocommerce-page .related ul.products.woocolumns-4 li.product,
html .woocommerce .upsells ul.products.woocolumns-4 li.product,
html .woocommerce-page .upsells ul.products.woocolumns-4 li.product {
  width: 25%;
}
html .woocommerce ul.products.woocolumns-5 li.product,
html .woocommerce-page ul.products.woocolumns-5 li.product,
html .woocommerce .related ul.products.woocolumns-5 li.product,
html .woocommerce-page .related ul.products.woocolumns-5 li.product,
html .woocommerce .upsells ul.products.woocolumns-5 li.product,
html .woocommerce-page .upsells ul.products.woocolumns-5 li.product {
  width: 20%;
}
html .woocommerce ul.products.woocolumns-6 li.product,
html .woocommerce-page ul.products.woocolumns-6 li.product,
html .woocommerce .related ul.products.woocolumns-6 li.product,
html .woocommerce-page .related ul.products.woocolumns-6 li.product,
html .woocommerce .upsells ul.products.woocolumns-6 li.product,
html .woocommerce-page .upsells ul.products.woocolumns-6 li.product {
  width: 16.66%;
}
@media (max-width: 991px) {
  html .woocommerce ul.products.woocolumns-4 li.product,
  html .woocommerce-page ul.products.woocolumns-4 li.product,
  html .woocommerce .related ul.products.woocolumns-4 li.product,
  html .woocommerce-page .related ul.products.woocolumns-4 li.product,
  html .woocommerce .upsells ul.products.woocolumns-4 li.product,
  html .woocommerce-page .upsells ul.products.woocolumns-4 li.product {
    width: 33.3333333%;
  }
  html .woocommerce ul.products.woocolumns-4 li.product:nth-child(4),
  html .woocommerce-page ul.products.woocolumns-4 li.product:nth-child(4),
  html .woocommerce .related ul.products.woocolumns-4 li.product:nth-child(4),
  html .woocommerce-page .related ul.products.woocolumns-4 li.product:nth-child(4),
  html .woocommerce .upsells ul.products.woocolumns-4 li.product:nth-child(4),
  html .woocommerce-page .upsells ul.products.woocolumns-4 li.product:nth-child(4) {
    clear: left !important;
  }
  html .woocommerce #content div.product .yith-wcwl-add-to-wishlist,
  html .woocommerce-page #content div.product .yith-wcwl-add-to-wishlist,
  html .woocommerce div.product .yith-wcwl-add-to-wishlist,
  html .woocommerce-page div.product .yith-wcwl-add-to-wishlist {
    position: relative;
  }
}
@media (max-width: 768px) {
  html .woocommerce ul.products.woocolumns-3 li.product,
  html .woocommerce-page ul.products.woocolumns-3 li.product,
  html .woocommerce .related ul.products.woocolumns-3 li.product,
  html .woocommerce-page .related ul.products.woocolumns-3 li.product,
  html .woocommerce .upsells ul.products.woocolumns-3 li.product,
  html .woocommerce-page .upsells ul.products.woocolumns-3 li.product,
  html .woocommerce ul.products.woocolumns-4 li.product,
  html .woocommerce-page ul.products.woocolumns-4 li.product,
  html .woocommerce .related ul.products.woocolumns-4 li.product,
  html .woocommerce-page .related ul.products.woocolumns-4 li.product,
  html .woocommerce .upsells ul.products.woocolumns-4 li.product,
  html .woocommerce-page .upsells ul.products.woocolumns-4 li.product,
  html .woocommerce ul.products.woocolumns-5 li.product,
  html .woocommerce-page ul.products.woocolumns-5 li.product,
  html .woocommerce .related ul.products.woocolumns-5 li.product,
  html .woocommerce-page .related ul.products.woocolumns-5 li.product,
  html .woocommerce .upsells ul.products.woocolumns-5 li.product,
  html .woocommerce-page .upsells ul.products.woocolumns-5 li.product,
  html .woocommerce ul.products.woocolumns-6 li.product,
  html .woocommerce-page ul.products.woocolumns-6 li.product,
  html .woocommerce .related ul.products.woocolumns-6 li.product,
  html .woocommerce-page .related ul.products.woocolumns-6 li.product,
  html .woocommerce .upsells ul.products.woocolumns-6 li.product,
  html .woocommerce-page .upsells ul.products.woocolumns-6 li.product {
    float: left;
    clear: none !important;
  }
}
@media (max-width: 767px) {
  html .woocommerce ul.products.woocolumns-3 li.product,
  html .woocommerce-page ul.products.woocolumns-3 li.product,
  html .woocommerce .related ul.products.woocolumns-3 li.product,
  html .woocommerce-page .related ul.products.woocolumns-3 li.product,
  html .woocommerce .upsells ul.products.woocolumns-3 li.product,
  html .woocommerce-page .upsells ul.products.woocolumns-3 li.product,
  html .woocommerce ul.products.woocolumns-4 li.product,
  html .woocommerce-page ul.products.woocolumns-4 li.product,
  html .woocommerce .related ul.products.woocolumns-4 li.product,
  html .woocommerce-page .related ul.products.woocolumns-4 li.product,
  html .woocommerce .upsells ul.products.woocolumns-4 li.product,
  html .woocommerce-page .upsells ul.products.woocolumns-4 li.product,
  html .woocommerce ul.products.woocolumns-5 li.product,
  html .woocommerce-page ul.products.woocolumns-5 li.product,
  html .woocommerce .related ul.products.woocolumns-5 li.product,
  html .woocommerce-page .related ul.products.woocolumns-5 li.product,
  html .woocommerce .upsells ul.products.woocolumns-5 li.product,
  html .woocommerce-page .upsells ul.products.woocolumns-5 li.product,
  html .woocommerce ul.products.woocolumns-6 li.product,
  html .woocommerce-page ul.products.woocolumns-6 li.product,
  html .woocommerce .related ul.products.woocolumns-6 li.product,
  html .woocommerce-page .related ul.products.woocolumns-6 li.product,
  html .woocommerce .upsells ul.products.woocolumns-6 li.product,
  html .woocommerce-page .upsells ul.products.woocolumns-6 li.product {
    width: 50%;
  }
  html .woocommerce ul.products.woocolumns-3 li.product:nth-child(3),
  html .woocommerce-page ul.products.woocolumns-3 li.product:nth-child(3),
  html .woocommerce .related ul.products.woocolumns-3 li.product:nth-child(3),
  html .woocommerce-page .related ul.products.woocolumns-3 li.product:nth-child(3),
  html .woocommerce .upsells ul.products.woocolumns-3 li.product:nth-child(3),
  html .woocommerce-page .upsells ul.products.woocolumns-3 li.product:nth-child(3),
  html .woocommerce ul.products.woocolumns-4 li.product:nth-child(3),
  html .woocommerce-page ul.products.woocolumns-4 li.product:nth-child(3),
  html .woocommerce .related ul.products.woocolumns-4 li.product:nth-child(3),
  html .woocommerce-page .related ul.products.woocolumns-4 li.product:nth-child(3),
  html .woocommerce .upsells ul.products.woocolumns-4 li.product:nth-child(3),
  html .woocommerce-page .upsells ul.products.woocolumns-4 li.product:nth-child(3),
  html .woocommerce ul.products.woocolumns-5 li.product:nth-child(3),
  html .woocommerce-page ul.products.woocolumns-5 li.product:nth-child(3),
  html .woocommerce .related ul.products.woocolumns-5 li.product:nth-child(3),
  html .woocommerce-page .related ul.products.woocolumns-5 li.product:nth-child(3),
  html .woocommerce .upsells ul.products.woocolumns-5 li.product:nth-child(3),
  html .woocommerce-page .upsells ul.products.woocolumns-5 li.product:nth-child(3),
  html .woocommerce ul.products.woocolumns-6 li.product:nth-child(3),
  html .woocommerce-page ul.products.woocolumns-6 li.product:nth-child(3),
  html .woocommerce .related ul.products.woocolumns-6 li.product:nth-child(3),
  html .woocommerce-page .related ul.products.woocolumns-6 li.product:nth-child(3),
  html .woocommerce .upsells ul.products.woocolumns-6 li.product:nth-child(3),
  html .woocommerce-page .upsells ul.products.woocolumns-6 li.product:nth-child(3) {
    clear: left !important;
  }
  html .woocommerce ul.products.woocolumns-3 li.product:nth-child(4),
  html .woocommerce-page ul.products.woocolumns-3 li.product:nth-child(4),
  html .woocommerce .related ul.products.woocolumns-3 li.product:nth-child(4),
  html .woocommerce-page .related ul.products.woocolumns-3 li.product:nth-child(4),
  html .woocommerce .upsells ul.products.woocolumns-3 li.product:nth-child(4),
  html .woocommerce-page .upsells ul.products.woocolumns-3 li.product:nth-child(4),
  html .woocommerce ul.products.woocolumns-4 li.product:nth-child(4),
  html .woocommerce-page ul.products.woocolumns-4 li.product:nth-child(4),
  html .woocommerce .related ul.products.woocolumns-4 li.product:nth-child(4),
  html .woocommerce-page .related ul.products.woocolumns-4 li.product:nth-child(4),
  html .woocommerce .upsells ul.products.woocolumns-4 li.product:nth-child(4),
  html .woocommerce-page .upsells ul.products.woocolumns-4 li.product:nth-child(4),
  html .woocommerce ul.products.woocolumns-5 li.product:nth-child(4),
  html .woocommerce-page ul.products.woocolumns-5 li.product:nth-child(4),
  html .woocommerce .related ul.products.woocolumns-5 li.product:nth-child(4),
  html .woocommerce-page .related ul.products.woocolumns-5 li.product:nth-child(4),
  html .woocommerce .upsells ul.products.woocolumns-5 li.product:nth-child(4),
  html .woocommerce-page .upsells ul.products.woocolumns-5 li.product:nth-child(4),
  html .woocommerce ul.products.woocolumns-6 li.product:nth-child(4),
  html .woocommerce-page ul.products.woocolumns-6 li.product:nth-child(4),
  html .woocommerce .related ul.products.woocolumns-6 li.product:nth-child(4),
  html .woocommerce-page .related ul.products.woocolumns-6 li.product:nth-child(4),
  html .woocommerce .upsells ul.products.woocolumns-6 li.product:nth-child(4),
  html .woocommerce-page .upsells ul.products.woocolumns-6 li.product:nth-child(4) {
    clear: none !important;
  }
}
@media (max-width: 480px) {
  html .woocommerce ul.products.woocolumns-2 li.product,
  html .woocommerce-page ul.products.woocolumns-2 li.product,
  html .woocommerce .related ul.products.woocolumns-2 li.product,
  html .woocommerce-page .related ul.products.woocolumns-2 li.product,
  html .woocommerce .upsells ul.products.woocolumns-2 li.product,
  html .woocommerce-page .upsells ul.products.woocolumns-2 li.product,
  html .woocommerce ul.products.woocolumns-3 li.product,
  html .woocommerce-page ul.products.woocolumns-3 li.product,
  html .woocommerce .related ul.products.woocolumns-3 li.product,
  html .woocommerce-page .related ul.products.woocolumns-3 li.product,
  html .woocommerce .upsells ul.products.woocolumns-3 li.product,
  html .woocommerce-page .upsells ul.products.woocolumns-3 li.product,
  html .woocommerce ul.products.woocolumns-4 li.product,
  html .woocommerce-page ul.products.woocolumns-4 li.product,
  html .woocommerce .related ul.products.woocolumns-4 li.product,
  html .woocommerce-page .related ul.products.woocolumns-4 li.product,
  html .woocommerce .upsells ul.products.woocolumns-4 li.product,
  html .woocommerce-page .upsells ul.products.woocolumns-4 li.product,
  html .woocommerce ul.products.woocolumns-5 li.product,
  html .woocommerce-page ul.products.woocolumns-5 li.product,
  html .woocommerce .related ul.products.woocolumns-5 li.product,
  html .woocommerce-page .related ul.products.woocolumns-5 li.product,
  html .woocommerce .upsells ul.products.woocolumns-5 li.product,
  html .woocommerce-page .upsells ul.products.woocolumns-5 li.product,
  html .woocommerce ul.products.woocolumns-6 li.product,
  html .woocommerce-page ul.products.woocolumns-6 li.product,
  html .woocommerce .related ul.products.woocolumns-6 li.product,
  html .woocommerce-page .related ul.products.woocolumns-6 li.product,
  html .woocommerce .upsells ul.products.woocolumns-6 li.product,
  html .woocommerce-page .upsells ul.products.woocolumns-6 li.product {
    width: 100%;
  }
}
html .ct-shopSection {
  margin-top: 1em;
}
html .ct-wooCart-numberItems {
  background: #1f8bf3;
  color: #fff;
  border-radius: 50%;
  padding: 0 7px;
  display: inline-block;
  position: relative;
  top: -7px;
  font-size: 12px;
}
html .woocommerce form .form-row .input-text,
html .woocommerce-page form .form-row .input-text,
html .shipping-calculator-form select {
  padding: 10px;
  box-shadow: none !important;
  border: 1px solid #b3b3b3;
}
html .woocommerce form .form-row .input-text:focus,
html .woocommerce-page form .form-row .input-text:focus,
html .shipping-calculator-form select:focus {
  border-color: #1f8bf3;
}
html form input.button {
  margin-top: 1em !important;
}
html .woocommerce button.button,
html .woocommerce a.button,
html .woocommerce #respond input#submit,
html .woocommerce .cart .button,
html .woocommerce .cart input.button,
html .woocommerce input.button,
html .woocommerce a.button {
  outline: none !important;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  border-radius: 0;
  line-height: 34px;
  font-size: 14px;
  border: none;
  border-bottom: 4px solid;
  text-transform: uppercase;
  padding: 0 15px;
  margin: auto 12px;
  color: #ffffff;
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
html .woocommerce button.button i,
html .woocommerce a.button i,
html .woocommerce #respond input#submit i,
html .woocommerce .cart .button i,
html .woocommerce .cart input.button i,
html .woocommerce input.button i,
html .woocommerce a.button i {
  color: #ffffff;
}
html .woocommerce button.button span,
html .woocommerce a.button span,
html .woocommerce #respond input#submit span,
html .woocommerce .cart .button span,
html .woocommerce .cart input.button span,
html .woocommerce input.button span,
html .woocommerce a.button span {
  margin-left: 14px;
  margin-right: 14px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff !important;
}
html .woocommerce button.button span i,
html .woocommerce a.button span i,
html .woocommerce #respond input#submit span i,
html .woocommerce .cart .button span i,
html .woocommerce .cart input.button span i,
html .woocommerce input.button span i,
html .woocommerce a.button span i {
  margin-left: 5px;
  margin-right: 0;
}
html .woocommerce button.button:hover,
html .woocommerce a.button:hover,
html .woocommerce #respond input#submit:hover,
html .woocommerce .cart .button:hover,
html .woocommerce .cart input.button:hover,
html .woocommerce input.button:hover,
html .woocommerce a.button:hover {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
html .woocommerce button.button:hover span,
html .woocommerce a.button:hover span,
html .woocommerce #respond input#submit:hover span,
html .woocommerce .cart .button:hover span,
html .woocommerce .cart input.button:hover span,
html .woocommerce input.button:hover span,
html .woocommerce a.button:hover span,
html .woocommerce button.button:hover span i,
html .woocommerce a.button:hover span i,
html .woocommerce #respond input#submit:hover span i,
html .woocommerce .cart .button:hover span i,
html .woocommerce .cart input.button:hover span i,
html .woocommerce input.button:hover span i,
html .woocommerce a.button:hover span i,
html .woocommerce button.button:hover i,
html .woocommerce a.button:hover i,
html .woocommerce #respond input#submit:hover i,
html .woocommerce .cart .button:hover i,
html .woocommerce .cart input.button:hover i,
html .woocommerce input.button:hover i,
html .woocommerce a.button:hover i {
  color: #ffffff !important;
}
html .woocommerce button.button:before,
html .woocommerce a.button:before,
html .woocommerce #respond input#submit:before,
html .woocommerce .cart .button:before,
html .woocommerce .cart input.button:before,
html .woocommerce input.button:before,
html .woocommerce a.button:before {
  content: '';
  border: 4px solid;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
html .woocommerce button.button:hover:before,
html .woocommerce a.button:hover:before,
html .woocommerce #respond input#submit:hover:before,
html .woocommerce .cart .button:hover:before,
html .woocommerce .cart input.button:hover:before,
html .woocommerce input.button:hover:before,
html .woocommerce a.button:hover:before {
  top: -8px;
  right: -8px;
  bottom: -12px;
  left: -8px;
}
html .woocommerce .select2-container .select2-choice .select2-arrow {
  top: 0;
}
html .woocommerce form .form-row {
  padding-left: 0;
  padding-right: 0;
}
html .woocommerce form .form-row label {
  font-weight: 600;
  text-transform: uppercase;
}
html .woocommerce input.button {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
html .woocommerce #respond input#submit.alt.disabled,
html .woocommerce #respond input#submit.alt.disabled:hover,
html .woocommerce #respond input#submit.alt:disabled,
html .woocommerce #respond input#submit.alt:disabled:hover,
html .woocommerce #respond input#submit.alt:disabled[disabled],
html .woocommerce #respond input#submit.alt:disabled[disabled]:hover,
html .woocommerce a.button.alt.disabled,
html .woocommerce a.button.alt.disabled:hover,
html .woocommerce a.button.alt:disabled,
html .woocommerce a.button.alt:disabled:hover,
html .woocommerce a.button.alt:disabled[disabled],
html .woocommerce a.button.alt:disabled[disabled]:hover,
html .woocommerce button.button.alt.disabled,
html .woocommerce button.button.alt.disabled:hover,
html .woocommerce button.button.alt:disabled,
html .woocommerce button.button.alt:disabled:hover,
html .woocommerce button.button.alt:disabled[disabled],
html .woocommerce button.button.alt:disabled[disabled]:hover,
html .woocommerce input.button.alt.disabled,
html .woocommerce input.button.alt.disabled:hover,
html .woocommerce input.button.alt:disabled,
html .woocommerce input.button.alt:disabled:hover,
html .woocommerce input.button.alt:disabled[disabled],
html .woocommerce input.button.alt:disabled[disabled]:hover {
  background-color: #4c505e;
}
html .woocommerce button.button,
html .woocommerce-page a.button,
html .woocommerce #respond input#submit,
html .woocommerce .cart .button,
html .woocommerce .cart input.button,
html .woocommerce input.button,
html .woocommerce a.button {
  background: #1f8bf3;
  border-bottom: 4px solid #1175d6;
  color: #fff;
  font-weight: 600;
  margin-left: 0;
  margin-right: 0;
}
html .woocommerce button.button:hover,
html .woocommerce-page a.button:hover,
html .woocommerce #respond input#submit:hover,
html .woocommerce .cart .button:hover,
html .woocommerce .cart input.button:hover,
html .woocommerce input.button:hover,
html .woocommerce a.button:hover,
html .woocommerce button.button:active,
html .woocommerce-page a.button:active,
html .woocommerce #respond input#submit:active,
html .woocommerce .cart .button:active,
html .woocommerce .cart input.button:active,
html .woocommerce input.button:active,
html .woocommerce a.button:active,
html .woocommerce button.button:focus,
html .woocommerce-page a.button:focus,
html .woocommerce #respond input#submit:focus,
html .woocommerce .cart .button:focus,
html .woocommerce .cart input.button:focus,
html .woocommerce input.button:focus,
html .woocommerce a.button:focus {
  background: #1f8bf3;
  border-color: #1f8bf3;
  color: #fff;
}
html .woocommerce button.button:before,
html .woocommerce-page a.button:before,
html .woocommerce #respond input#submit:before,
html .woocommerce .cart .button:before,
html .woocommerce .cart input.button:before,
html .woocommerce input.button:before,
html .woocommerce a.button:before {
  border-color: #1f8bf3;
}
html .woocommerce #respond input#submit {
  margin-left: 0;
  width: 35%;
  max-width: 200px;
}
html .woocommerce button.button.alt,
html .woocommerce input.button.alt {
  background: #4c505e;
  border-bottom: 4px solid #3a3f4d;
  color: #fff;
  font-weight: 600;
}
html .woocommerce button.button.alt:hover,
html .woocommerce input.button.alt:hover,
html .woocommerce button.button.alt:active,
html .woocommerce input.button.alt:active,
html .woocommerce button.button.alt:focus,
html .woocommerce input.button.alt:focus {
  background: #4c505e;
  border-color: #4c505e;
  color: #fff;
}
html .woocommerce button.button.alt:before,
html .woocommerce input.button.alt:before {
  border-color: #4c505e;
}
html .woocommerce div.product .woocommerce-product-rating {
  margin-bottom: 5px;
}
html .woocommerce div.product form.cart {
  display: table;
  margin: 2em 0;
}
html .woocommerce div.product form.cart div.quantity {
  float: none;
  display: table-cell;
  vertical-align: middle;
}
html .woocommerce div.product div.images .thumbnails img {
  border: 1px solid #b3b3b3;
}
html .woocommerce div.product div.images img {
  width: auto;
  margin: auto;
}
html .ct-pageWrapper .woocommerce span,
html .ct-pageWrapper .woocommerce ins,
html .ct-pageWrapper .woocommerce del,
html .ct-pageWrapper .woocommerce strike,
html .ct-pageWrapper .woocommerce em {
  color: #4c505e;
}
html .woocommerce span.onsale {
  width: 58px;
  height: 49px;
  line-height: 59px;
  font-weight: normal;
  background: #4c505e;
  color: #ffffff !important;
  font-size: 21px;
  text-align: center;
  position: absolute;
  transition: 0.6s;
  z-index: 1;
  top: 0;
  left: 0;
}
html .price span {
  font-size: 2em;
}
html .price del {
  line-height: 0.3;
}
html .price del span {
  font-size: 1em;
  padding: 0;
}
html .woocommerce-review-link {
  color: #4c505e;
}
html .woocommerce-review-link:hover {
  color: #1f8bf3;
}
html .woocommerce-review-link:hover span {
  color: #1f8bf3;
}
html .posted_in {
  text-transform: uppercase;
  font-weight: 600;
}
html .posted_in a {
  font-weight: normal;
  text-transform: none;
  color: #1f8bf3;
}
html .posted_in a:hover {
  text-decoration: underline;
}
html .tagged_as {
  position: relative;
  display: block;
}
html .tagged_as a {
  color: #b3b3b3;
}
html .tagged_as a:hover {
  color: #1f8bf3;
}
html .tagged_as:before {
  content: "\f02c";
  position: relative;
  font-family: fontawesome;
  padding-right: 8px;
}
html .product_meta {
  margin: 1em auto;
}
html .woocommerce div.product div.summary {
  width: 100%;
}
html .woocommerce div.product div.summary p.price,
html .woocommerce div.product div.summary span.price {
  font-size: 2em;
  color: #4c505e;
}
html .woocommerce div.product div.summary p.price span,
html .woocommerce div.product div.summary span.price span {
  font-size: 1em;
}
html .woocommerce div.product div.summary p.price del,
html .woocommerce div.product div.summary span.price del {
  padding: 10px 0 5px 0;
}
html .woocommerce div.product .woocommerce-tabs {
  width: 100%;
}
html .woocommerce div.product .woocommerce-tabs ul.tabs {
  padding-left: 0;
}
html .woocommerce div.product .woocommerce-tabs ul.tabs li:before,
html .woocommerce div.product .woocommerce-tabs ul.tabs li:after {
  display: none;
}
html .woocommerce div.product .woocommerce-tabs ul.tabs li,
html .woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: #fff;
  font-weight: normal;
  border-radius: 0;
  border: none;
}
html .woocommerce div.product .woocommerce-tabs ul.tabs li a {
  padding: 1em 1.5em;
  display: block;
  width: 100%;
}
html .woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
  color: #fff;
}
html .woocommerce div.product .woocommerce-tabs ul.tabs li {
  background-color: #4c505e;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  display: table-cell;
  width: 1%;
  text-align: center;
  border-bottom: 4px solid;
  border-right: 1px solid;
  border-color: #3a3f4d;
}
html .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  background-color: #1f8bf3;
  border-color: #1175d6;
}
html .woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -9px;
  border-width: 10px 9px 0 9px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  z-index: 1;
  box-shadow: none !important;
}
html .woocommerce div.product .woocommerce-tabs ul.tabs:before {
  display: none;
}
html .woocommerce div.product .woocommerce-tabs .panel h2 {
  font-size: 1.74em;
}
html .woocommerce div.product .woocommerce-tabs .panel ul {
  list-style: none;
  padding-left: 0;
}
html .related {
  border-top: 1px solid #ddd;
}
html .related h2 {
  font-size: 1.74em;
}
html .woocommerce div.product span.price,
html .woocommerce-page .related ul.products li.product span.price,
html .woocommerce ul.products li.product span.price,
html .woocommerce-page ul.products li.product span.price,
html div.product span.price,
html .woocommerce div.product p.price,
html .woocommerce-page .related ul.products li.product p.price,
html .woocommerce ul.products li.product p.price,
html .woocommerce-page ul.products li.product p.price,
html div.product p.price {
  padding-left: 0;
}
html .woocommerce div.product span.price .amount,
html .woocommerce-page .related ul.products li.product span.price .amount,
html .woocommerce ul.products li.product span.price .amount,
html .woocommerce-page ul.products li.product span.price .amount,
html div.product span.price .amount,
html .woocommerce div.product p.price .amount,
html .woocommerce-page .related ul.products li.product p.price .amount,
html .woocommerce ul.products li.product p.price .amount,
html .woocommerce-page ul.products li.product p.price .amount,
html div.product p.price .amount {
  font-weight: 600;
}
html .woocommerce div.product span.price ins,
html .woocommerce-page .related ul.products li.product span.price ins,
html .woocommerce ul.products li.product span.price ins,
html .woocommerce-page ul.products li.product span.price ins,
html div.product span.price ins,
html .woocommerce div.product p.price ins,
html .woocommerce-page .related ul.products li.product p.price ins,
html .woocommerce ul.products li.product p.price ins,
html .woocommerce-page ul.products li.product p.price ins,
html div.product p.price ins {
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
}
html .woocommerce-page .related ul.products li.product,
html .woocommerce ul.products li.product,
html .woocommerce-page ul.products li.product {
  margin-right: 0;
  position: relative;
  padding: 15px;
}
html .woocommerce-page .related ul.products li.product img,
html .woocommerce ul.products li.product img,
html .woocommerce-page ul.products li.product img {
  width: 100%;
  height: auto;
  background-color: #eee;
  display: block;
  position: relative;
  border: 1px solid transparent;
}
html .woocommerce-page .related ul.products li.product .ct-imgWrapper:hover img,
html .woocommerce ul.products li.product .ct-imgWrapper:hover img,
html .woocommerce-page ul.products li.product .ct-imgWrapper:hover img {
  border-color: #1f8bf3;
}
html .woocommerce-page .related ul.products li.product .button,
html .woocommerce ul.products li.product .button,
html .woocommerce-page ul.products li.product .button {
  margin-top: 0;
  float: right;
}
html .woocommerce-page .related ul.products li.product .star-rating,
html .woocommerce ul.products li.product .star-rating,
html .woocommerce-page ul.products li.product .star-rating {
  position: absolute;
  bottom: -15px;
}
html .woocommerce-page .related ul.products li.product h3,
html .woocommerce ul.products li.product h3,
html .woocommerce-page ul.products li.product h3 {
  margin-bottom: 5px;
  text-align: left;
  top: 1.24em;
  font-weight: 600;
  font-size: 1.42em;
  width: 99%;
  left: 1px;
  line-height: 1.6;
  padding: 0;
}
@media (max-width: 767px) {
  html .woocommerce-page .related ul.products li.product,
  html .woocommerce ul.products li.product,
  html .woocommerce-page ul.products li.product {
    width: 48%;
  }
}
@media (max-width: 479px) {
  html .woocommerce-page .related ul.products li.product,
  html .woocommerce ul.products li.product,
  html .woocommerce-page ul.products li.product {
    width: 99%;
  }
}
@media (max-width: 479px) {
  html .woocommerce-page .related ul.products li.product,
  html .woocommerce ul.products li.product,
  html .woocommerce-page ul.products li.product {
    padding-right: 0;
  }
}
html .woocommerce #reviews #comments ol.commentlist {
  padding: 0;
}
html .woocommerce #reviews #comments ol.commentlist li.comment {
  padding: 12px 0;
  margin: 0;
  border-bottom: 1px solid #eee;
}
html .woocommerce #reviews #comments ol.commentlist li.comment div.comment_container img.avatar {
  width: 78px;
  top: 12px;
  padding: 0;
  border: none;
}
html .woocommerce #reviews #comments ol.commentlist li.comment div.comment_container .comment-text {
  margin-left: 90px;
  padding: 0;
  border: none;
}
html .woocommerce #reviews #comments ol.commentlist li.comment div.comment_container .comment-text p {
  line-height: 1;
}
html .woocommerce #reviews #comments ol.commentlist li.comment div.comment_container .comment-text p.meta strong {
  font-weight: 700;
  color: #4c505e;
  font-size: 1.24em;
}
html .woocommerce #reviews #comments ol.commentlist li.comment div.comment_container .comment-text .description p {
  line-height: 1.2;
}
html .woocommerce #reviews #comments ol.commentlist li.comment div.comment_container .comment-text .reviewRating {
  top: -3px;
}
html .woocommerce #review_form #respond .comment-reply-title {
  font-size: 1.24em;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 12px 0 16px 0;
}
html .woocommerce #review_form #respond .comment-form-rating label {
  font-weight: normal;
}
html .woocommerce #review_form #respond .comment-form-rating p.stars {
  display: inline-block;
  padding-left: 0;
  font-size: 18px;
}
html .woocommerce #review_form #respond .comment-form-rating p.stars a {
  color: #4c505e;
}
html .woocommerce #review_form #respond .comment-form-rating p.stars a:hover {
  color: #1f8bf3;
}
html .woocommerce #review_form #respond .comment-form-rating p.stars a:hover:before {
  content: "\e020" !important;
}
html .woocommerce #review_form #respond p label {
  font-weight: normal;
  width: 20%;
  float: left;
  line-height: 1;
}
html .woocommerce #review_form #respond p textarea,
html .woocommerce #review_form #respond p input {
  width: 80%;
}
html .woocommerce #review_form #respond p:after {
  content: "";
  display: table;
  width: 100%;
}
@media (max-width: 479px) {
  html .woocommerce #review_form #respond p label {
    width: 100%;
  }
  html .woocommerce #review_form #respond p textarea,
  html .woocommerce #review_form #respond p input {
    width: 100%;
    max-width: none;
  }
  html .woocommerce #review_form #respond .comment-form-rating p.stars {
    padding: 0;
    text-align: center;
  }
}
html .woo_flexslider_thumbs ul.slides li {
  margin-right: 15px;
  border: 1px solid #b3b3b3;
  padding: 5px;
  display: inline-block !important;
}
html .woo_flexslider_thumbs ul.slides li img {
  width: auto;
}
@media (min-width: 768px) {
  html .ct-col--withPadding {
    padding-right: 50px;
  }
}
html .woocommerce div.product .ct-waitlist-content {
  display: table;
  padding: 20px 0;
  margin: 25px 0;
  width: 100%;
  text-align: center;
  background: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
html .woocommerce div.product .ct-waitlist-content p.stock {
  padding: 0 0.74em;
  margin: 0;
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.24em;
  line-height: 1.1;
  color: #4c505e;
}
html .woocommerce div.product .ct-waitlist-content p.out-of-stock {
  color: red;
}
html .woocommerce div.product .ct-waitlist-content div {
  display: table-cell;
  width: 50%;
  padding-right: 20px;
}
html .woocommerce div.product .ct-waitlist-content div p {
  line-height: 1;
}
html .woocommerce div.product .ct-waitlist-content div .ct-waitlist-add-button {
  display: block !important;
  width: auto !important;
  margin: auto !important;
}
html .woocommerce div.product .ct-waitlist-content div input {
  display: block !important;
  width: 100% !important;
}
@media (max-width: 479px) {
  html .woocommerce div.product .ct-waitlist-content p.stock,
  html .woocommerce div.product .ct-waitlist-content div {
    display: block;
    width: 100%;
  }
  html .woocommerce div.product .ct-waitlist-content div {
    padding: 0;
  }
  html .woocommerce div.product .ct-waitlist-content p.stock {
    margin-bottom: 20px;
  }
}
html .woocommerce a.remove {
  color: #fff !important;
  background-color: #1f8bf3;
}
html .woocommerce a.remove:hover {
  background-color: #4c505e;
}
html .cart table.cart img {
  width: 100px;
  border: 1px solid #eee;
  margin: 12px 0;
}
html .cart table.cart td.actions {
  padding: 20px 0;
}
html .cart table.cart input.button {
  margin: 0 !important;
  border: none;
  position: relative;
}
@media (min-width: 768px) {
  html .cart table.cart input.button {
    top: -2px;
    line-height: 33px;
  }
}
html .woocommerce-page table.cart td.actions .input-text {
  width: auto;
}
html .woocommerce table.shop_table {
  margin: 3em 0;
  border: none;
}
html .woocommerce table.shop_table thead {
  background: #f8f8f8;
}
html .cart .cart-collaterals .cart_totals table {
  text-align: right;
  float: right;
}
html .cart .cart-collaterals .cart_totals table tbody {
  vertical-align: top;
}
html .cart .cart-collaterals .cart_totals table td,
html .cart .cart-collaterals .cart_totals table th {
  width: 200px;
}
html .cart-collaterals {
  margin-bottom: 3em;
}
html .woocommerce ul.products li.product,
html .woocommerce-page ul.products li.product {
  margin-right: 0;
}
html .orderby {
  padding: 12px;
}
html div.pp_woocommerce .pp_content_container {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
html div.pp_woocommerce .pp_nav,
html .pp_description {
  line-height: 1;
}
html div.pp_woocommerce .pp_close,
html div.pp_woocommerce a.pp_contract,
html div.pp_woocommerce a.pp_expand {
  background-color: #1f8bf3;
  color: #ffffff;
  text-shadow: none;
  width: 2em;
  height: 2em;
  top: -1em;
  line-height: 2em;
}
html div.pp_woocommerce .pp_close:before,
html div.pp_woocommerce a.pp_contract:before,
html div.pp_woocommerce a.pp_expand:before {
  font-family: fontawesome;
}
html div.pp_woocommerce .pp_close {
  right: -1em;
}
html div.pp_woocommerce .pp_close:before {
  content: "\f00d";
}
html div.pp_woocommerce a.pp_expand,
html div.pp_woocommerce a.pp_contract {
  left: -1em;
}
html div.pp_woocommerce a.pp_expand:before {
  content: "\f065";
}
html div.pp_woocommerce a.pp_contract:before {
  content: "\f066";
}
html div.pp_woocommerce .pp_next:hover:before,
html div.pp_woocommerce .pp_previous:hover:before {
  font-family: fontawesome;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
html div.pp_woocommerce .pp_next:hover:before {
  content: "\f105";
}
html div.pp_woocommerce .pp_previous:hover:before {
  content: "\f104";
}
html div.pp_woocommerce .pp_arrow_next,
html div.pp_woocommerce .pp_arrow_previous {
  background-color: transparent !important;
  color: #111111 !important;
  text-shadow: none;
}
html .ct-waitlist-aftermyaccount td {
  padding: 10px 0;
}
html .ct-waitlist-aftermyaccount td img {
  display: block !important;
  margin: 0 !important;
}
html .ct-wooCart {
  outline: none !important;
  outline-offset: 0;
  top: 50%;
  position: absolute;
  left: 20px;
  margin-top: -17px;
  background: #fff;
  border: none;
}
html span.ct-wooCart-numberItems {
  padding: 4px 7px;
  left: -4px;
  top: -12px;
  line-height: 1;
  background: #1f8bf3 !important;
  color: #fff !important;
}
html span.ct-wooCart-numberItems:hover {
  color: #fff !important;
}
html .checkbox input[type=checkbox]:checked + label:before {
  content: "\f00c";
  font-family: fontawesome;
  padding-right: 5px;
}
html .woocommerce form.checkout_coupon,
html .woocommerce form.login,
html .woocommerce form.register {
  border: none;
}
html .woocommerce form.checkout_coupon .checkbox input[type=checkbox]:checked + label:before,
html .woocommerce form.login .checkbox input[type=checkbox]:checked + label:before,
html .woocommerce form.register .checkbox input[type=checkbox]:checked + label:before {
  content: "\f00c";
  font-family: fontawesome;
  padding-right: 5px;
}
html .woocommerce form.checkout_coupon label,
html .woocommerce form.login label,
html .woocommerce form.register label {
  padding-left: 0;
}
html .woocommerce form.checkout_coupon .checkbox,
html .woocommerce form.login .checkbox,
html .woocommerce form.register .checkbox {
  display: inline-block;
  padding-left: 20px;
}
html .woocommerce .woocommerce-ordering {
  margin: 0 0 2em 0;
}
html .woocommerce ul.cart_list li li .amount,
html .woocommerce ul.product_list_widget li .amount {
  padding: 0;
  line-height: 1.25;
}
html .woocommerce ul.cart_list li li img,
html .woocommerce ul.product_list_widget li img {
  width: 110px;
  border: 1px solid #eee;
  padding: 5px;
}
html .woocommerce ul.cart_list li li span,
html .woocommerce ul.product_list_widget li span {
  display: block;
  padding-top: 20px;
}
html .woocommerce ul.cart_list li li a,
html .woocommerce ul.product_list_widget li a {
  display: block;
  padding-top: 15px;
  color: #4c505e;
  font-weight: normal;
}
html .woocommerce ul.cart_list li li a:hover,
html .woocommerce ul.product_list_widget li a:hover {
  color: #1f8bf3;
}
html .woocommerce ul.cart_list li li .star-rating,
html .woocommerce ul.product_list_widget li .star-rating {
  font-size: 0.82em;
}
html .woocommerce ul.cart_list li li .reviewer,
html .woocommerce ul.product_list_widget li .reviewer {
  padding: 0;
}
html .woocommerce ul.cart_list li del,
html .woocommerce ul.product_list_widget del {
  font-size: 0.82em;
}
html .woocommerce ul.cart_list li ins,
html .woocommerce ul.product_list_widget ins {
  font-weight: 600;
}
html .widget_product_tag_cloud a {
  font-size: 1em !important;
  padding: 2px 18px;
  color: #888;
  border: 1px solid #eee;
  margin: 0 7px 7px 0;
  display: inline-block;
}
html .widget_product_tag_cloud a:hover {
  background-color: #eee;
}
html .woocommerce .widget_price_filter .ui-slider-horizontal {
  height: 2px;
  background-color: #4c505e !important;
}
html .woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  background-color: #1f8bf3 !important;
}
html .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background: #fff;
  border: 3px solid #4c505e;
  top: -0.42em;
  display: block;
}
html .woocommerce .widget_price_filter .ui-slider .ui-slider-handle:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #4c505e;
}
html .woocommerce .widget_price_filter .price_slider_amount {
  text-align: left;
}
html .woocommerce .widget_price_filter .price_slider_amount .button {
  margin-right: 0;
  float: right;
}
html .woocommerce .widget_price_filter .price_slider_amount label {
  float: left;
}
html .product-categories {
  list-style: none;
  padding: 0;
}
html .product-categories a {
  text-transform: uppercase;
  color: #4c505e;
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  left: 0;
  font-weight: 600;
}
html .product-categories a:before {
  content: "\f054";
  position: relative;
  font-family: fontawesome;
  color: #1f8bf3;
  padding-right: 5px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  left: -12px;
}
html .product-categories a:hover {
  color: #1f8bf3;
  left: 20px;
}
html .product-categories a:hover:before {
  left: 0;
}
html .product-categories .children {
  list-style: none;
}
html .product-categories .children a {
  text-transform: none;
  font-weight: normal;
}
html .woocommerce-shipping-calculator button.button {
  margin: 0.82em 0 0.64em 0 !important;
}
html .woocommerce nav.woocommerce-pagination ul {
  border: none;
}
html .woocommerce nav.woocommerce-pagination ul li {
  padding: 0;
  margin: 0 3px;
  float: left;
  display: inline;
  overflow: hidden;
  background: none !important;
  line-height: 40px;
  border: none;
}
html .woocommerce nav.woocommerce-pagination ul li a,
html .woocommerce nav.woocommerce-pagination ul li span {
  border: 1px solid #b3b3b3;
  width: 44px;
  border-radius: 50%;
  height: 44px;
  line-height: 40px;
  padding: 0 0 5px 0;
}
html .woocommerce nav.woocommerce-pagination ul li a.next,
html .woocommerce nav.woocommerce-pagination ul li span.next,
html .woocommerce nav.woocommerce-pagination ul li a.prev,
html .woocommerce nav.woocommerce-pagination ul li span.prev {
  background-color: #1f8bf3;
  border-color: transparent;
  color: #fff;
}
html .woocommerce nav.woocommerce-pagination ul li a.next:hover,
html .woocommerce nav.woocommerce-pagination ul li span.next:hover,
html .woocommerce nav.woocommerce-pagination ul li a.prev:hover,
html .woocommerce nav.woocommerce-pagination ul li span.prev:hover {
  background-color: #4c505e;
}
html .woocommerce nav.woocommerce-pagination ul li span {
  padding: 0;
  color: #4c505e;
  background: none !important;
}
html .address {
  padding: 3em 0;
}
html .woocommerce-checkout #payment {
  background: none;
  border-radius: 0;
}
html .woocommerce-checkout #payment label {
  color: #1f8bf3;
}
html .woocommerce-checkout #payment ul.payment_methods {
  border: none;
  padding: 1em 0;
}
html .woocommerce-checkout #payment div.payment_box {
  background-color: transparent;
  color: #4c505e;
  border-top: 1px solid #b3b3b3;
}
html .woocommerce-checkout #payment div.payment_box:before,
html .woocommerce-checkout #payment div.payment_box:after {
  display: none;
}
html .woocommerce-shipping-fields label {
  padding-left: 0;
}
html .woocommerce {
  text-shadow: none !important;
}
html .wc-backward a:before,
html .wc-backward:before {
  margin: 0;
}
html .ct-rating-withPrice,
html .ct-addToCart {
  display: inline-block;
  width: 50%;
  float: left;
}
html .ct-rating-withPrice .star-rating {
  bottom: 0 !important;
}
html .woocommerce ul.products.main-prodlist {
  margin: 0 -15px;
}
html .woocommerce ul.products.main-prodlist li.product {
  padding: 15px;
}
html .woocommerce ul.products li.product .onsale {
  right: -10px;
  top: -10px;
  border: 4px solid #fff;
  line-height: 46px;
  font-size: 15px;
  width: 60px;
  height: 60px;
}
html .ct-addToCart .add_to_cart_button {
  margin-right: 0 !important;
}
html .woocommerce .widget_shopping_cart .cart_list li a.remove,
html .woocommerce.widget_shopping_cart .cart_list li a.remove {
  padding: 0;
  line-height: 24px;
}
html .woocommerce-product-search {
  margin-bottom: 1em;
}
html .woocommerce-product-search label {
  display: none;
}
html .woocommerce-product-search .search-field {
  border: 1px solid #eee;
  padding: 0 10px;
  width: 75%;
  float: left;
}
html .woocommerce-product-search button,
html .woocommerce-product-search html input[type="button"],
html .woocommerce-product-search input[type="reset"],
html .woocommerce-product-search input[type="submit"] {
  border: 1px solid #eee;
  background: transparent;
  padding: 0 5px;
  width: 25%;
  float: left;
  border-left: 0;
}
html .woocommerce #respond input#submit.loading:after,
html .woocommerce a.button.loading:after,
html .woocommerce button.button.loading:after,
html .woocommerce input.button.loading:after {
  top: 0;
}
html .ct-imgWrapper {
  position: relative;
}
html .ct-product-description {
  text-align: justify;
  color: #4c505e;
  padding: 0 0 25px 0;
  margin: 0;
  line-height: 26px;
}
html .woocommerce.columns-3 {
  margin-left: -15px;
  margin-right: -15px;
}
html .woocommerce.columns-3 ul.products li.product {
  padding: 0 30px;
}
html .woocommerce.columns-3 ul.products li.product a.button {
  line-height: 48px;
  padding: 0 21px;
}
html .woocommerce.columns-3 ul.products li.product h3 {
  top: 2.24em;
}
html .woocommerce.columns-3 ul.products li.product span.price {
  padding-left: 0;
}
html .woocommerce.columns-3 ul.products li.product span.price ins {
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
}
html .woocommerce.columns-3 ul.products li.product .onsale {
  top: -7px;
  right: -10px;
  line-height: 51px;
  font-size: 18px;
  width: 70px;
  height: 70px;
}
html .woocommerce.columns-3 ul.products li.product .star-rating {
  bottom: -20px !important;
  margin-left: 0;
}
html .tab-pane .woocommerce {
  padding-top: 60px;
}
html .alert > a.button {
  margin-left: 0;
}
html .woocommerce.widget {
  padding-bottom: 45px;
}
html ins {
  text-decoration: none !important;
}
html .ct-pageWrapper > .container > .woocommerce,
html .ct-pageWrapper > .woocommerce {
  padding: 4em 0;
}
html .woocommerce form .form-row .input-checkbox {
  display: none;
}
html .woocommerce form.checkout_coupon p.form-row {
  width: 50%;
  float: left;
}
html .woocommerce form.checkout_coupon p.form-row input.coupon_code,
html .woocommerce form.checkout_coupon p.form-row input.button {
  float: left;
  margin: 0 0 0 1em !important;
  line-height: 39px;
}
html .added_to_cart {
  display: none !important;
}
html .sku_wrapper {
  display: block;
}
html .sku_wrapper span {
  font-weight: 600;
  display: inline-block;
  padding-left: 3px;
}
html div.product table td {
  display: block;
  color: #4c505e;
  text-align: left;
}
html div.product table td.label label {
  font-size: 18px;
  font-weight: normal !important;
}
html div.product table select {
  padding: 10px;
}
html .single_variation span.price,
html .variation span.price {
  display: block;
  margin-bottom: 15px;
}
html .single_variation .ct-waitlist-content,
html .variation .ct-waitlist-content {
  background: transparent !important;
  text-align: left;
  margin-top: 0 !important;
  padding-top: 0 !important;
}
html .single_variation .ct-waitlist-content input,
html .variation .ct-waitlist-content input,
html .single_variation .ct-waitlist-content button,
html .variation .ct-waitlist-content button {
  display: block !important;
}
html .single_variation .ct-waitlist-content input,
html .variation .ct-waitlist-content input {
  width: 100% !important;
}
html .single_variation .ct-waitlist-content button,
html .variation .ct-waitlist-content button {
  width: auto !important;
}
html .single_variation_wrap div.quantity {
  float: left !important;
}
html .checkout_button th a {
  margin-top: 20px !important;
  display: block;
  border-color: #1f8bf3 !important;
}
html .checkout_button th a:before,
html .checkout_button th a:after {
  display: none;
}
html .widget.woocommerce ul li:before {
  display: none;
}
html .dropdown-menu.ct-wooCart-cartBox {
  display: none !important;
}
.ct-wooSearch .ct-wooSearch-searchContent .ct-wooSearch-filter .ct-wooSearch-filterTitle {
  font-weight: 600;
  font-size: 1.42em;
}
.ct-wooSearch .ct-select {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ct-wooSearch .ct-wooSearch-filterWrapper .ct-select {
  width: 165px;
}
.ct-wooSearch .ct-wooSearch-filter .ct-wooSearch-filterWrapper li.radio,
.ct-wooSearch .ct-wooSearch-filter .ct-wooSearch-filterWrapper li.checkbox {
  margin: 0;
  padding-bottom: 5px;
}
.ct-wooSearch .ct-wooSearch-filter .ct-wooSearch-filterWrapper li.radio label {
  padding-left: 10px;
}
.ct-wooSearch .ct-wooSearch-filter .ct-wooSearch-filterWrapper li.radio label:before {
  top: 50%;
  width: 11px;
  height: 11px;
  margin-top: -6px;
}
.ct-wooSearch .ct-wooSearch-filter .ct-wooSearch-filterWrapper li.radio label:after {
  top: 50%;
  width: 5px;
  height: 5px;
  margin-top: -2px;
  left: -16px;
}
.ct-wooSearch .ct-wooSearch-filter .ct-wooSearch-filterWrapper li.checkbox label {
  padding-left: 10px;
}
.ct-wooSearch .ct-wooSearch-filter .ct-wooSearch-filterWrapper li.checkbox label:before {
  top: 50%;
  margin-top: -6px;
  width: 11px;
  height: 11px;
  content: '' !important;
}
div.product .flex-direction-nav {
  position: absolute;
  top: 14px;
  right: 10px;
}
.price del {
  color: #1f8bf3;
}
